* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html ,body{
    width: 100%;
    min-height: 100%;
    background-color: #f0f0d8;
    background-color: #fff;
    font-family:'Patrick Hand Sc',cursive;
}

html section{
    display: flex;
    -webkit-justify-content: center;
    width:100%;
    min-height: 100%;
    margin-bottom: 48px;
}

html section button{
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    align-self:center;
    background-color: transparent;
    padding: 16px 16px;
    margin:0 16px;
    transition: all .5s ease;
    color: #41403e;
    font-size: 32px;
    letter-spacing: 1px;
    outline: none;
    box-shadow:20px 50px 34px -26px rgba(0,0,0,0.2);
    border-radius:255px 15px 225px 15px/15px 225px 15px 225px;
}

html section button:hover{
    box-shadow: 2px 8px 4px -6px rgba(0,0,0,0.3);
}

.dotted{
    border: dotted 7px #41403e;
}
.lined{
    border: solid 7px #41403e;
}
.dashed{
    border: dashed 5px #41403e;
}
.dotted_thin{
    border:dotted 2px #41403e;
}
.lined_thin{
    border:solid 2px #41403e;
}
.dashed_thin{
    border:dashed 2px #41403e;
}

@media (max-width:620px){
    body{
        padding-top: 20px;
    }
    body section {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        flex-direction: column;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
        margin-bottom: 1rem;
    }
    body section button {
        -webkit-align-self: center;
        -ms-flex-item-align: center;
        align-self: center;
        margin-bottom: 2rem;
    }
}
/* 导航 */
.myhome img{
    width: 37px;
    border-radius: 37px;
    margin: 7px 10px 0 10px;
}
.navbar-logo{
    float: left;
    height: 50px;
}

/* padding */
.pt5{
    padding-top:5px ;
}
/* margin */
.auto{
    margin: 0 auto;
}
.mt5{
    margin-top: 5px;
}
.mpt15{
    margin-top: 15%;
}
.mr5{
    margin-right: 5px;
}
/* color */
.c-fff{
    color: #ffffff;
}
/* font size */
.f14{
    font-size: 14px;
}
.f18{
    font-size: 18px;
}
/* width */
.w70{
    width: 60%;
}
/* height */
.h70{
    height: 100%;
}
/* position */
.left-100{
    left: -100px;
}
.pa{
    position: absolute;
}
.pr{
    position: relative;
}
.b{
    width: 14px;
    height: 14px;
    margin-right: 5px;
    margin-top: -2px;
}